langchain 
openai 
pdfminer 
unstructured 
pdfminer.six 
tiktoken 
pandas 
chroma 
chromadb
unstructured
unstructured[local-inference]
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu101/index.html
detectron2
